2doParcial/ClienteVotacion/ClienteVotacion/Connected Services/ServicioVotacion/WSVotacion.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://votacion/" targetNamespace="http://votacion/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="obtenerVotacion" type="tns:obtenerVotacion" />
  <xs:element name="obtenerVotacionResponse" type="tns:obtenerVotacionResponse" />
  <xs:complexType name="obtenerVotacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="sigla" type="xs:string" />
      <xs:element minOccurs="0" name="formato" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerVotacionResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>